@import url("base.css");
body {
  background-color: #0a0a0a;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}
nav {
  display: flex;
  background: #2e2e2e;
  border-bottom: 1px solid #6f6f6f;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  height: 88px;
}
h1 {
  font-weight: 700;
  font-size: 32px;
  color: var(--orange);
}
a {
  text-decoration: none;
}
.icons-div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.action-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
input[type="Search"] {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 524px;
  height: 56px;
  background: var(--deep-gray);
  border: 0.5px solid #6f6f6f;
  border-radius: 8px;
  color: var(--pure-white);
}
input[type="Search"]:focus {
  border: 1.5px solid #6f6f6f;
  outline: none;
}
input[type="Search"]::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--pure-white);
  background: url(../pantfiles/search-ikon.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-left: 2.1875rem;
}
.profile-image img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.content-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.side-bar {
  width: 304px;
  height: 100%;
  background-color: #2e2e2e;
  display: flex;
  align-items: flex-start;
}
.side-small {
  width: 72px;
  background-color: #0a0a0a;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 24px;
  padding-left: 24px;
}
.side-big {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  align-items: center;
  color: #ffffff;
}
.links-container a {
  padding-left: 24px;
}
.links-container {
  width: 200px;
  height: 51px;
  display: flex;
  align-items: center;
  /* padding-bottom: 16px; */
  border-radius: 0px 8px 8px 0px;
}
.side-bar-para {
  font-weight: 500;
  color: #ffffff;
}
#active-para-div {
  background-color: #0a0a0a;
}
#active-side-para {
  color: #ff8a2e;
}
.side-icons {
  background-color: #2e2e2e;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  padding: 7.75px 7.26px;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
#active-icon {
  background: #ff8a2e;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  padding: 7.75px 7.26px;
  margin-top: 10px;
}
